---
- name: Check if Kubernetes is already initialized
  stat:
    path: /etc/kubernetes/admin.conf
  register: k8s_initialized

- name: Reset Kubernetes if partially initialized
  shell: kubeadm reset -f
  when: not k8s_initialized.stat.exists
  ignore_errors: true

- name: Initialize Kubernetes Master
  shell: |
    kubeadm init \
    --kubernetes-version={{ kubernetes_version }} \
    --pod-network-cidr={{ pod_network_cidr }}
  when: not k8s_initialized.stat.exists
  register: kubeadm_init_result

- name: Show kubeadm init output
  debug:
    var: kubeadm_init_result.stdout_lines
  when: kubeadm_init_result is defined and kubeadm_init_result.changed

- name: Create admin kubeconfig for ubuntu
  shell: |
    mkdir -p /home/ubuntu/.kube && \
    cp -i /etc/kubernetes/admin.conf /home/ubuntu/.kube/config && \
    chown ubuntu:ubuntu /home/ubuntu/.kube/config
  args:
    creates: /home/ubuntu/.kube/config

- name: Install Calico CNI
  become: true
  become_user: ubuntu
  command: kubectl apply -f https://docs.projectcalico.org/manifests/calico.yaml

- name: Generate join command
  command: kubeadm token create --print-join-command
  register: join_cmd

- name: Save join command
  copy:
    content: "{{ join_cmd.stdout }}"
    dest: /tmp/join-command.txt
    mode: "0644"

- name: Fetch join command to local machine
  fetch:
    src: /tmp/join-command.txt
    dest: ./join-command.txt
    flat: yes
